@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400&display=swap');

@font-face {
    font-family: 'Neuropol';
    src: url('fonts/Neuropol.eot');
    src: url('fonts/Neuropol.eot?#iefix') format('embedded-opentype'),
         url('fonts/Neuropol.woff2') format('woff2'),
         url('fonts/Neuropol.woff') format('woff'),
         url('fonts/Neuropol.ttf')  format('truetype'),
         url('fonts/Neuropol.svg#Neuropol') format('svg');
}

:root {
	--color1: #18b87d;
	--color2: #02aacf;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Space Grotesk', monospace;
	margin: 0;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	background: #fff;

	&:before, &:after {
		content: '';
		position: fixed;
		inset: 0;
	}

	&:before {
		background-image: url(images/bg.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		z-index: 0;
	}

	&:after {
		background-image: url(images/dither.png);
		z-index: 1;
		mix-blend-mode: overlay;
	}
}

h1, h2, h3, h4, h5 {
	font-family: 'Neuropol', sans-serif;
	font-weight: 400;
	margin: 1rem 0;
}

h1 {
	text-shadow: 0 0 20px rgba(255,255,255,0.25);
	-webkit-text-stroke: 1px rgba(255,255,255,0.8);
	color: var(--color2);
	text-align: center;
	background: linear-gradient(90deg, transparent, rgba(255,255,255,0.75), transparent);
	margin-bottom: 2rem;
}

h2 {
	font-size: 2rem;
	/* text-shadow: 0 0 5px rgba(255,255,255,0.5); */
}

h1 span, h2 span {
	background: linear-gradient(90deg, var(--color1), var(--color2));
	background-clip: text;
	color: transparent;
}

a {
	color: inherit;
	font-weight: 500;
}

hr {
	background: linear-gradient(90deg, transparent, var(--color1) 25%, var(--color2) 75%, transparent);
	border: none;
	height: 1px;
	margin: 1.5em 0;
	opacity: 0.25;
}

.u-center {
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	padding: 20px;
	max-width: 1000px;
	position: relative;
	z-index: 10;
}

.header {
	text-align: center;
	font-family: inherit;
	margin: 2rem 0 4rem 0;
}

.title {
	display: flex;
	justify-content: center;
	align-items: baseline;
	font-family: 'Neuropol', sans-serif;
	font-size: 6rem;
	margin-bottom: 2rem;
	gap: 5px;
}

.title-a {
	color: var(--color1);
}

.title-b {
	color: var(--color2);
}

.title-dot {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	background-image: url(images/play.svg);
	background-size: 40%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.title-dot.is-playing {
	background-image: url(images/pause.svg);
}

.discord {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	margin-top: 0.5rem;
}

.discord img {
	position: relative;
	top: 1px;
}

.donate {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.donate-button {
	padding: 5px 20px;
	font-size: 1.8rem;
	border-radius: 999px;
	text-decoration: none;
	background: #ffd43b;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.section {
	margin: 4em 0;
}

.section p {
	margin: 1rem 0;
}

.section-items {
	position: relative;
	padding: 10px 20px;
	background: linear-gradient(90deg, rgba(255,255,255,0.65), rgba(255,255,255,0.25) 50%);
	box-shadow: inset 0 0 25px rgba(255,255,255,0.5);
	text-shadow: 0 0 10px #fff;

	&:before, &:after {
		content: '';
		position: absolute;
		inset: 0;
		border: 2px solid transparent;
		pointer-events: none;
	}

	&:before {
		border-image: linear-gradient(-45deg, #fff, transparent 50px calc(100% - 50px), #fff) 1;
	}

	&:after {
		border-image: linear-gradient(45deg, #fff, transparent 50px calc(100% - 50px), #fff) 1;
	}
}

.button {
	display: block;
	width: fit-content;
	text-decoration: none;
	padding: 8px 16px;
	border: 1px solid var(--color1);
	position: relative;
	transition: color 0.2s ease-out, border 0.2s ease-out;
	text-shadow: none;
	z-index: 10;
	border-radius: 9999px;
	overflow: hidden;
}

.button:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(45deg, var(--color1), var(--color2));
	z-index: -1;
	transition: opacity 0.2s ease-out;
	opacity: 0;
}

.button:hover,
.button:focus,
.button:active {
	color: #fff;
	border-color: transparent;
}

.button:hover:before,
.button:focus:before,
.button:active:before {
	opacity: 1;
}

.script-link {
	width: 18px;
	cursor: pointer;
}
